html body {
    height: 100vh;
}

.enigma_machine {
    height: 100%;
    overflow: hidden;
}

.wheel_assembly {
    height: 100%;
    overflow: hidden;
}

.wheel {
    width: 70px;
    height: 100%;
    display: inline-block;
    position: relative;
    font-size: 35px;
    line-height: 50px;
}